{{- range $changes := . }}{{ with $changes -}}
Changelog for rest-server {{ .Version }} ({{ .Date }})
============================================

The following sections list the changes in rest-server {{ .Version }} relevant
to users. The changes are ordered by importance.

Summary
-------
{{ range $entry := .Entries }}{{ with $entry }}
 * {{ .TypeShort }} #{{ .PrimaryID }}: {{ .Title }}
{{- end }}{{ end }}

Details
-------
{{ range $entry := .Entries }}{{ with $entry }}
 * {{ .Type }} #{{ .PrimaryID }}: {{ .Title }}
{{ range $par := .Paragraphs }}
   {{ wrapIndent $par 80 3 }}
{{ end -}}
{{ range $id := .Issues }}
   https://github.com/restic/restic/issues/{{ $id -}}
{{ end -}}
{{ range $id := .PRs }}
   https://github.com/restic/restic/pull/{{ $id -}}
{{ end -}}
{{ range $url := .OtherURLs }}
   {{ $url -}}
{{ end }}
{{ end }}{{ end }}

{{ end }}{{ end -}}
