[Unit]
Description=Rest Server
After=syslog.target
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/usr/local/bin/rest-server -path /tmp/restic
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
